html {
    height: 100%;
}

body {
    background-color: gainsboro;
    background-image: url(images/marijuana-leaf-5315561_1280\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 74px;
    font-size: 70px;
    font-style: black;
}

nav {
    background-color: rgba(0, 0, 0, 0.313);
    height: 40px;
    font-weight: bold;
    font-size: 35px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

main2 {
    height: 10px;
    text-align: center;
    text-indent: 300px;
    padding-bottom: 10px;
    padding-top: none;
    margin-top: none;
    padding-left: 1000px;
    padding-right: 10px;
    text-spacing-trim: trim-start;

}

main1 {
    height: 10px;
    text-align: right;
    text-indent: 300px;
    text-wrap-mode: nowrap;
    padding-bottom: 10px;
    padding-bottom: 40px;
    padding-top: 1px;
    margin-top: 1px;
    padding-left: 70px;
    padding-right: 120px;


    img {

        width: 200px;
        height: 100px;
        border: 2px solid #ff3d0036;
        border-radius: 5px;
        box-shadow: 4px 7px 7px 0px #00000042;
        cursor: pointer;
        margin: 10px;
        transition: 400ms;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
        image-orientation: inherit;


    }



    div img:hover {
        filter: grayscale(1);
        transform: scale(1.03);
    }


}

footer {
    height: 5px;
    padding-top: 50px;
}

h1 {
    font-size: 65px;
    font-style: italic;
    font-display: block;
    color: rgb(25, 23, 23);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 35px;
    font-style: italic;
    font-display: block;
    color: rgb(25, 23, 23);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 18px;
    color: rgb(24, 28, 28);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p1 {

    padding-left: 150px;
    text-wrap: wrap;
    margin-left: 75px;
    float: inline-end;
}








border: 1px solid #ff7200;
margin-top: 13px;
color: antiquewhite;
border-right: none;
font-size: 16px;
float: left;
padding: 10px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #ebe6e1;
    border: 2px solid #ebe6e1;
    margin-top: 13px;
    color: #6374a1;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}